:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark !important;
	color: rgba(255, 255, 255, 0.87) !important;
	background-color: #242424 !important; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	max-height: 100vh;
	position: sticky;
	top: 0;
	left: 0;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.w-98 {
	width: 98%;
}
.sticky {
	position: sticky;
}
/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
} */
@media (max-width: 30em) {
	.dn-s {
		display: none;
	}
	.flex-column-s {
		flex-direction: column;
	}
	.tc-s {
		text-align: center;
	}
}
.fade-in {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.fade-in-2 {
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

.fade-in.visible {
	opacity: 1;
}

.fade-in.hidden {
	opacity: 0;
}
.overlay {
	/* height:100%; */
	width: 100%;
	background: rgba(25, 25, 55, 0.47);
}

/* animations.css */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}

.section-fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in-out forwards;
}

.image-container {
	transition: transform 0.3s ease-in-out;
	opacity: 0;
}

.image-container.in-view {
	animation: fadeIn 1.5s ease-in-out forwards;
	opacity: 1;
}

.image-container:hover {
	animation: scaleUp 0.3s forwards;
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-up {
	opacity: 0;
}

.slide-in-left {
	opacity: 0;
}

.in-view2 .slide-up {
	animation: slideUp 2s ease-in-out forwards;
}

.in-view2 .slide-in-left {
	animation: slideInLeft 2s ease-in-out forwards;
}
